<div class="key"></div>
<div class="hero">
    <p class="large brandon">Everpresent | social media automation.<br>Invite friends. Pay nothing.</p>
    <p class="small brandon">Oh and win some nice things...</p>
</div>


<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
    <% if Rails.application.config.ended %>
        <p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
        <p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE COMING WEEKS</p>
        <p class="go-to brandon">In the meantime, head to   <a href="http://www.everpresentapp.com/"> WWW.EVERPRESENTAPP.COM</a></p>
        <p class="again brandon">Thank You Again!</p>
    <% else %>
        <div class="key"></div>
        <p class="byline brandon">Be the first to know</p>
        <%= form_for @user, :url => { :action => "create" } do |f| %>
	<%= f.text_field :email, :placeholder => "Email Address", :class => "email brandon" %>
            <input class="submit brandon" name="commit" type="submit" value="Step Inside" />
        <% end %>
    <% end %>
</div>